html {
  font-family: sans-serif;
  background: #ccc;
}

.uno, .dos {
  background: red;
  width: 500px;
  height: 1000px;
  padding: 25px;
  border: 10px solid black;
  margin: 25px auto;
  
}

.dos {
  box-sizing: border-box;
}