h1{
	font-weight: bold;
	border : 5px dotted black;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 0px;
}
div {
	border : 5px dotted black;
	background-color: white;
	margin-left: 20%;
	margin-right:20%;
	}
*{
	text-align: center;
}
li{
	list-style: none;
}
body{
	background-color: brown;
}
span {
	font-weight: bold;
}